<div class="mt-20">


  <div class="m-20 flex flex-row items-center justify-center">
    <img alt="логотип" width="100" height="80" src="favicon.ico">
    <h2 class="table-cell align-middle text-center text-4xl m-1"><span>FindHata</span></h2>

    <div class="input-group mt-2">
      <input type="search" class="form-control rounded" placeholder="Поиск по объявлениям" aria-label="Search"
             aria-describedby="search-addon"/>
      <button type="button" class="btn btn-outline-primary">Искать!</button>
    </div>

  </div>

</div>

