@tailwind base;
@tailwind components;
@tailwind utilities;

.cover-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

h1 {
  font-family: 'Poppins', sans-serif;
}
html, body {
  height: 100%;
  margin:0;
}

.topnav {
  background-color: rgba(25,25,25,0.94);
  /*background-color: blueviolet;*/
  /*overflow: hidden;*/
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /*align-content: space-between;*/
  /*text-align: center;*/
  /*padding: 2px;*/
}

.fast-ref {
  color: #c2c2c2;
  /*background-color: blueviolet;*/
  text-align: center;
  /*padding: 14px 16px;*/
  font-size: 17px;
  /*padding-top: 15px;*/

  /*position: relative;*/
  /*margin-top: auto;*/
  /*margin-bottom: auto;*/
  align-content: center;

  /*margin: auto;*/
  display: inline-block;
}


.fast-ref:hover {
  color: #ffffff;
  transition: all 0.3s;
}




.topnav .topnav_hid_elem {
  text-decoration: none;
  font-size: 0.85em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  /*display: inline-block;*/
  /*margin: auto;*/
}

@media not (max-width: 47em) {
  .topnav .topnav-menu-btn-label {
    visibility: hidden;
  }
  .topnav .topnav_hid_elem {
    visibility: visible;
  }
}

@media (max-width: 47em) {
  .topnav .topnav-menu-btn-label {
    visibility: visible;
  }
  .topnav .topnav_hid_elem {
    position: absolute;
    visibility: hidden;
  }
}

.topnav input[type=checkbox] {
  opacity: 0;
}

.topnav-menu-btn-label {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 20px;  width: 26px;
  height: 26px;  cursor: pointer;
  z-index: 1;
  visibility: hidden;
}


.topnav-menu-btn-label > span,
.topnav-menu-btn-label > span::before,
.topnav-menu-btn-label > span::after {

  position: absolute;
  width: 100%;
  height: 2px;
  /*right: 3px;*/
  background-color: #ddd;
}
.topnav-menu-btn-label > span::before {
  content: '';
  top: -8px;
}
.topnav-menu-btn-label > span::after {
  content: '';
  top: 8px;
}

.topnav-menu-btn-label > span,
.topnav-menu-btn-label > span::before,
.topnav-menu-btn-label > span::after {
  transition-duration: .25s;
}

.topnav-menu-btn-checkbox:checked ~ .topnav-menu-btn-label > span::before {
  top: 0;
  transform: rotate(-90deg);
}

.topnav-menu-btn-checkbox:checked ~ .topnav-menu-btn-label > span {
  transform: rotate(45deg);
}

.topnav-menu-btn-checkbox:checked ~ .topnav-menu-btn-label > span::after {
  top: 0;
  transform: rotate(90deg);

}




.topnav-menu-btn-checkbox:checked ~ .topnav-menu {
  top: -5%;
  visibility: visible;
}

.topnav-menu-btn-checkbox:checked ~ .topnav-menu-btn-label > span {
  background-color: #000000;
}

.topnav-menu-btn-checkbox:checked ~ .topnav-menu-btn-label > span::before {
  background-color: #000000;
}

.topnav-menu-btn-checkbox:checked ~ .topnav-menu-btn-label > span::after {
  background-color: #000000;
}

.topnav-menu {
  /*left: 0;*/
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  /*left: -100%;*/
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  /*box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);*/
  transition-duration: .25s;
}

.topnav-menu-item {
  display: flex;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;
  position: relative;

  text-align: center;
  padding: 12px 24px;
}

.topnav-menu-item:hover {
  background-color: #ddd;
  color: black;
}


/*.topnav-menu {*/
/*    position: fixed;*/
/*    top: 23px;*/
/*    right: 20px;  width: 26px;*/
/*    height: 26px;  cursor: pointer;*/
/*    z-index: 1;*/
/*}*/

.topnav-right {
  /*position: fixed;*/
  float: right;
  position: absolute;
  right: 2em;
  /*position: relative;*/
}



/*a:visited {*/
/*    color: green;*/
/*}*/



