<div class="mt-20">


  <div class="m-20 flex flex-row items-center justify-center">
    <img alt="логотип" width="100" height="80" src="assets/favicon.png">
    <h2 class="table-cell align-middle text-center text-4xl m-1"><span>FindHata</span></h2>

    <div class="input-group mt-2">
      <input (keyup.enter)="updateProposals()" [(ngModel)]="searchData" type="search" class="form-control rounded" placeholder="Поиск по объявлениям" aria-label="Search"
             aria-describedby="search-addon"/>
      <button (click)="updateProposals()" type="button" class="btn btn-outline-primary">Искать!</button>
    </div>

  </div>

</div>


<div class="ml-20 mb-20">
  <h2>{{displayedSearchTitle}}</h2>
  <div class="flex flex-row flex-wrap gap-16">

    <app-proposal *ngFor="let proposal of proposals" [proposal]="proposal"></app-proposal>

  </div>
</div>
